<div class="col-8">
    <h1>{{tittle}}</h1> <br>
</div>

<div class="container-fluid">
    <div class="row justify-content-around">
        <label class="col-1" for="num1">Số thứ nhất</label>
        <input class="col-3" type="text" id="num1" placeholder="Số thứ nhất">

        <!-- Radiobutton -->
        <div class="col-4">
            <label>
                <input type="radio" name="operator" id="plus">
                Cộng
            </label>
            <label>
                <input type="radio" name="operator" id="minus">
                Trừ
            </label>
        </div>
    </div>
    <div class="row justify-content-around">
        <label class="col-1" for="num2">Số thứ hai</label>
        <input class="col-3" type="text" id="num2" placeholder="Số thứ hai">

        <!-- Radiobutton -->
        <div class="col-4">
            <label>
                <input type="radio" name="operator" id="multiply">
                Nhân
            </label>
            <label>
                <input type="radio" name="operator" id="divide">
                Chia
            </label>
        </div>
    </div>
    <div class="row justify-content-around">
        <label class="col-1" for="result">Kết quả</label>
        <input class="col-3" type="number" id="result" disabled="">
        <button class="col-4" type="submit" onclick="calculate()">Tính</button>
    </div>
    <div class="row justify-content-around">
        <label class="col-1">Thông báo</label>
        <label class="col-6 blue-label" id="error"> </label>
        <div class="col-1">
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- My Script -->
<script src="/javascripts/myScript.js"></script>